body {
  min-height: 100vh;
  margin: 0;

  background: radial-gradient(
    circle at 50% 50%,
    #6883db,
    rgb(51, 69, 129)
  );

  transition: background 0.1s linear;
}

h3{
    color: white;
}

h7{
    color: gray;
}

#carouselLexicon, #carouselDeepWithin, #carouselBDRP, #carouselPortfolio {
  max-width: 400px;
  margin: 0 auto;
}

#carouselLexicon img, #carouselDeepWithin img, #carouselBDRP img, #carouselPortfolio img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
p {
  text-align: center;
}